@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=Sofia+Sans+Semi+Condensed:ital,wght@0,1..1000;1,1..1000&family=Xanh+Mono:ital@0;1&display=swap');

@font-face {
    font-family: Shinka Mono;
    src: url(fonts/ShinkaMono/Shinka-Light-Trial.woff) format('woff'),
         url(fonts/ShinkaMono/Shinka-Light-Trial.woff2) format('woff2');
}

body{
    background-color: black;
    color: rgb(53, 215, 255);
    /* font-size: clamp(10px,1vw,20px); */
    font-size: 16px;
    overflow-x: hidden;
    margin: 0px;
    height: 200vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 130%;
    font-weight: 200;
    /* font-family: 'Xanh Mono', monospace; */
}

p, h1{
    filter: drop-shadow(0px 0px 0.9px rgb(53, 215, 255));
}

#logo{
    /* padding: 20px; */
    filter: drop-shadow(0px 0px 2px rgb(53, 215, 255));
    height: 50px;
    padding: 20px 0px 20px 20px;
}

.header{
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: auto;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(53, 215, 255);
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: black;
    font-family: 'Xanh Mono', serif;
    -webkit-text-stroke: 0.03em;
    letter-spacing: 0.02em;
}

.data{
    display: flex;
    flex-flow: row nowrap;
    box-sizing: border-box;
    width: fit-content;
}

.data p{
    margin: 0px;
    padding: 10px 20px;
}

.calculator{
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(53, 215, 255);
    background-color: black;
    font-family: 'Xanh Mono', serif;
    -webkit-text-stroke: 0.03em;
    letter-spacing: 0.02em;
    padding: 15px 20px;
}

.calculator p{
    width: 50%;
}

input{
    font-family: 'Xanh Mono', serif;
    font-size: 16px;
    background-color: black;
    border: 1px solid rgb(53, 215, 255);
    color: rgb(53, 215, 255);
    box-sizing: border-box;
    padding: 6px;
    margin-top: 10px;
    height: 40px;
    color-scheme: dark;
}

#submit:hover{
    background-color: rgb(53, 215, 255);
    color: black;
}

.definitions{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.definitions img{
    width: 100%;
    height: auto;
    /* filter: grayscale(); */
    mix-blend-mode: exclusion;
}

/* > is a child combinator selector. 
it selects only direct descendants of the class
and not further descendants*/
.definitions > div{
    padding: 20px;
    border-bottom: 1px solid rgb(53, 215, 255);
    /* border-bottom: 0.1px solid cadetblue; */
}

.inner{
    border-right: 1px solid rgb(53, 215, 255);
}

.essayContainer{
    display: flex;
    flex-flow: row nowrap;
}

.column{
    border-right: 1px solid rgb(53, 215, 255);
}

.essay{
    width: 50%;
}

.title{
    font-family: 'Xanh Mono';
    font-size: 30px;
    text-transform: uppercase;
    line-height: 110%;
    border-bottom: 1px solid rgb(53, 215, 255);
    padding: 20px;
    /* background-color: pink; */
}

.h2{
    font-family: 'Xanh Mono', 'Arial Narrow', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: 1.2px underline;
    text-underline-offset: 4px;
    padding: 0px 30px 0px 20px;
}

.essay p{
    padding: 0px 30px 0px 20px;
}

.items{
    width: 50%;
    /* padding: 20px; */
    display: flex;
    flex-flow: column wrap;
}

.items img{
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    padding: 20px;
    /* filter: grayscale(); */
    mix-blend-mode: exclusion;
}

.pair{
    margin-top: 50px;
}

.note, .author{
    /* font-family: 'Xanh Mono'; */
    font-style: italic;
}












h1{
    /* font-size: clamp(1rem, 20vw, 20vw); */
    letter-spacing: -1px;
    text-transform: uppercase;
    margin: 0px;
}

/* .number {
    font-family: "Wavefont", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "ROND" 0,
        "YELA" 0;
    vertical-align: -0.5vh;
    font-size: 4.8vh;
    padding-right: 2px;
} */